body {
  font-family: sans-serif;
  text-align: center;
}

#day-counter {
  font-size: 48px;
  margin: 20px;
}
h1{
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}